<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div data-controller="post-sort">
  <label for='sort_by'>Sort by:</label>
  <select name='sort_by' id='sort_by' data-post-sort-target="select" data-action="post-sort#sort">
    <option value='time_posted' <%= 'selected' if params[:sort_by].eql?('time_posted') %>>Newest</option>
    <option value='time_posted_reverse' <%= 'selected' if params[:sort_by].eql?('time_posted_reverse') %>>Oldest</option>
    <option value='alphabetical' <%= 'selected' if params[:sort_by].eql?('alphabetical') %>>A-Z</option>
    <option value='alphabetical_reverse' <%= 'selected' if params[:sort_by].eql?('alphabetical_reverse') %>>Z-A</option>
  </select>
</div>

<div id="posts">
  <%= render 'posts' %>
</div>

<%= link_to "New post", new_post_path %>
